* {
  box-sizing: border-box;
}

/* general */
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Roboto", "Roboto Condensed";
  font-weight: 200;
  user-select: none;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.75em;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Roboto";
  font-weight: 300;
}
/* end of general */

/* navbar */
.navbar {
  margin-top: 0em;
}

nav {
  margin: 0;
  width: 100%;
  height: 4em;
  font-family: 'roboto';
  letter-spacing: .11em;
  font-weight: 400;
  padding-top: .5em;
}

.logo {
  text-align: left;
  padding-bottom: 1em;
}

.logo a {
  color: #897057;
  text-transform: uppercase;
  font-weight: 550;
  font-size: 1.5em;
  margin-left: 3em;
  text-decoration: none;
}

.logo a:hover {
  color: #AE9780;
  transition: 0.3s;
}

.navbar nav ul {
  list-style-type: none;
  display: table;
  margin-left: auto;
  margin-top: -2.5em;
}

.navbar nav ul li {
  display: inline-block;
  list-style: none;
  margin-left:2em;
}

nav ul li:not(:first-child) {
  margin-left: 2.25em;
}

nav ul li:last-child {
  margin-right: 5em;
}

nav ul li a {
  display: inline-block;
  outline: none;
  color: #897057;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.075em;
  font-weight: 570;
  font-size:1.1em;
  position: relative;
}

nav ul li a.nav-link:before, #interactive-elements .in-text-element a:before, .home-project .caption a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125em;
  bottom: 0;
  left: 0;
  background-color: #897057;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

nav ul li a.nav-link:hover:before, #interactive-elements .in-text-element a:hover:before, .home-project .caption a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

@media screen and (max-width: 864px) and (min-width:600px){
  .logo {
    padding: 0;
    margin-top: .8em;
    margin-left: 3em;
    font-size: 1.4em;
    float: left;
  }

  .nav-wrapper {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #DCD2C8;
    opacity: 0;
    transition: all 0.2s ease;
    font-size: 1.8em;
  }

  nav{
    height:6em;
  }

  .nav-wrapper ul {
    position:absolute;
    top: 45%;
    transform: translateY(-50%);
    width: 100%;
  }

  .nav-wrapper ul li {
    display: none;
    width: 100%;
    list-style: none;
    float: right;
    margin-right: 2em;
    margin-top:1em;
  }

  .nav-wrapper ul li:nth-child(1) a {
    transition-delay: 0.2s;
    /* margin-right: 2em; */
    float: right;
    text-align: right;
  }

  .nav-wrapper ul li:nth-child(2) a {
    transition-delay: 0.3s;
    /* margin-right: 2em; */
    float: right;
    text-align: right;
  }

  .nav-wrapper ul li:nth-child(3) a {
    transition-delay: 0.4s;
    /* margin-right: 2em; */
    float: right;
    text-align: right;
  }

  .nav-wrapper ul li:nth-child(4) a {
    transition-delay: 0.5s;
    margin-right: -3.4em;
    float: right;
    text-align: right;
  }

  .nav-wrapper ul li a {
    padding: 0.625em 1.5em;
    opacity: 0;
    color: #897057;
    font-size: 0.875em;
    font-weight: 600;
    letter-spacing: 0.075em;
    transform: translateX(-1.25em);
    transition: all 0.2s ease;
  }

  .nav-btn {
    position: fixed;
    right: 1em;
    top: 2.5em;
    display: block;
    width: 5em;
    height: 5em;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }

  .nav-btn i {
    display: block;
    width: 2em;
    height: .225em;
    background: #897057;
    margin-left: 0.875em;
  }

  .nav-btn i:nth-child(1) {
    margin-top: 1em;
  }

  .nav-btn i:nth-child(2) {
    margin-top: 0.35em;
    opacity: 1;
  }

  .nav-btn i:nth-child(3) {
    margin-top: 0.35em;
  }

  #nav:checked+.nav-btn i:nth-child(1) {
    transform: translateY(.77em) rotate(135deg);
  }
}

@media screen and (max-width: 600px) and (min-width:400px){
  .logo {
    padding: 0;
    margin-top: .4em;
    margin-left: 3em;
    font-size: 1em;
    float: left;
  }

  .nav-wrapper {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #DCD2C8;
    opacity: 0;
    transition: all 0.2s ease;
    font-size: 1.8em;
  }

  nav{
    height:4em;
  }

  .nav-wrapper ul {
    position:absolute;
    top: 45%;
    transform: translateY(-50%);
    width: 100%;
  }

  .nav-wrapper ul li {
    display: none;
    width: 100%;
    list-style: none;
    float: right;
    margin-right: 2em;
    margin-top:1em;
  }

  .nav-wrapper ul li:nth-child(1) a {
    transition-delay: 0.2s;
    /* margin-right: 2em; */
    float: right;
    text-align: right;
  }

  .nav-wrapper ul li:nth-child(2) a {
    transition-delay: 0.3s;
    /* margin-right: 2em; */
    float: right;
    text-align: right;
  }

  .nav-wrapper ul li:nth-child(3) a {
    transition-delay: 0.4s;
    /* margin-right: 2em; */
    float: right;
    text-align: right;
  }

  .nav-wrapper ul li:nth-child(4) a {
    transition-delay: 0.5s;
    margin-right: -3.4em;
    float: right;
    text-align: right;
  }

  .nav-wrapper ul li a {
    padding: 0.625em 1.5em;
    opacity: 0;
    color: #897057;
    font-size: 0.875em;
    font-weight: 600;
    letter-spacing: 0.075em;
    transform: translateX(-1.25em);
    transition: all 0.2s ease;
  }

  .nav-btn {
    position: fixed;
    right: 1em;
    top: 2.5em;
    display: block;
    width: 5em;
    height: 5em;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }

  .nav-btn i {
    display: block;
    width: 1.5em;
    height: .15em;
    background: #897057;
    margin-left: 0.875em;
  }

  /* .nav-btn i:nth-child(1) {

  } */

  .nav-btn i:nth-child(2) {
    margin-top: 0.35em;
    opacity: 1;
  }

  .nav-btn i:nth-child(3) {
    margin-top: 0.35em;
  }

  #nav:checked+.nav-btn i:nth-child(1) {
    transform: translateY(.55em) rotate(135deg);
  }
}

@media screen and (max-width: 400px){
  .logo {
    padding: 0;
    margin-top: .4em;
    margin-left: 3em;
    font-size: .7em;
    float: left;
  }

  .nav-wrapper {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #DCD2C8;
    opacity: 0;
    transition: all 0.2s ease;
    font-size: 1.4em;
  }

  nav{
    height:3em;
  }

  .nav-wrapper ul {
    position:absolute;
    top: 45%;
    transform: translateY(-50%);
    width: 100%;
  }

  .nav-wrapper ul li {
    display: none;
    width: 100%;
    list-style: none;
    float: right;
    margin-right: 2em;
    margin-top:1em;
  }

  .nav-wrapper ul li:nth-child(1) a {
    transition-delay: 0.2s;
    /* margin-right: 2em; */
    float: right;
    text-align: right;
  }

  .nav-wrapper ul li:nth-child(2) a {
    transition-delay: 0.3s;
    /* margin-right: 2em; */
    float: right;
    text-align: right;
  }

  .nav-wrapper ul li:nth-child(3) a {
    transition-delay: 0.4s;
    /* margin-right: 2em; */
    float: right;
    text-align: right;
  }

  .nav-wrapper ul li:nth-child(4) a {
    transition-delay: 0.5s;
    margin-right: -3.4em;
    float: right;
    text-align: right;
  }

  .nav-wrapper ul li a {
    padding: 0.625em 1.5em;
    opacity: 0;
    color: #897057;
    font-size: 0.875em;
    font-weight: 600;
    letter-spacing: 0.075em;
    transform: translateX(-1.25em);
    transition: all 0.2s ease;
  }

  .nav-btn {
    position: fixed;
    right: 0em;
    top: 2.1em;
    display: block;
    width: 5em;
    height: 5em;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }

  .nav-btn i {
    display: block;
    width: 1.2em;
    height: .13em;
    background: #897057;
    margin-left: 0.875em;
  }

  /* .nav-btn i:nth-child(1) {

  } */

  .nav-btn i:nth-child(2) {
    margin-top: 0.25em;
    opacity: 1;
  }

  .nav-btn i:nth-child(3) {
    margin-top: 0.25em;
  }

  #nav:checked+.nav-btn i:nth-child(1) {
    transform: translateY(.43em) rotate(135deg);
  }
}

#nav:checked+.nav-bth {
  transform: rotate(45deg);
}

#nav:checked+.nav-btn i {
  background: #897057;
  transition: transform 0.2s ease;
}

/* #nav:checked+.nav-btn i:nth-child(1) {
  transform: translateY(.43em) rotate(135deg);
} */

#nav:checked+.nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked+.nav-btn i:nth-child(3) {
  transform: translateY(-0.375em) rotate(45deg);
}

#nav:checked~.nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked~.nav-wrapper ul li a {
  opacity: 1;
  transform: translateX(0);
}

.hidden {
  display: none;
}

/* end of nav bar */

/* footer */
.footer {
  background-color: #F3EFEC;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0;
  width: 100%;
}

.footer h1{
  text-align: center;
  color: #897057;
  font-family: "san-serif";
}

.footer .single-footer p {
  color: #897057;
  text-align: center;
  font-size: 1em;
}

.footer a {
  text-decoration: none;
  color: #897057;
  text-align: center;
  font-size: 1em;
}

.footer ul {
  text-align: center;
  color: #897057;
}

.footer ul li {
  display: inline-block;
  margin-right: 1em;
}

.footer ul li a:hover, .contact-page a:hover {
  color: #AE9780;
  transition: 0.3s;
  cursor: pointer;
}

.bottom-footer p {
  text-align: center;
  color: #AE9780;
  font-size: 0.8em;
}

.footer-social i {
  font-size: 1.2em;
}

.single-footer i{
  margin-right: 0.5em;
}
/* end of footer */

/* home page */
.home-page {
  font-family: "Roboto";
  text-align: center;
  position: relative;
}

.banner img{
  width: 100%;
  height: auto;  
  position: relative;
  text-align: center;
}

#work{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#work .home-project img {
  width: 100%;
  margin-bottom: 2em;
  margin-top:2em;
  cursor: pointer;
}

#work .home-project img:hover {
  transition: .3s ease;
  cursor: pointer;
  opacity: .5;
}

#side{
  margin-bottom: 2em;
}
.side-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.side-flex img {
  width: 33.3%;
  margin-right: -.3em;
  cursor: pointer;
}

.side-flex img:hover {
  transition: .3s ease;
  cursor: pointer;
  opacity: .5;
}

/* warning */
.heading-w {
  font-size: 0.1em;
  color: #fff;
}

/* art page */
#art{
  margin-bottom: 5em;
  margin-top: 5em;
}

/* bio page */
.bio-page {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  margin-bottom: 10em;
}

.bio-page img{
  width: 60%;
  height: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* project page */
.project-info {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.project-info img{
  width: 60%;
  height: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* contact page */
@media screen and (min-width: 550px){
  input[type=search], textarea{
    width: 25em;
  }
}

@media screen and (max-width: 959px){
  .contact-flex .contact-text{
    margin-bottom: 5em;
  }
}

.contact-page{
  color: #6d5946;
  margin-top: 5em;
  margin-bottom: 5em;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 5em;
}

.contact-flex{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5em;
}

.contact-flex .contact-text{
  position: relative;
  max-width: 30em;
}

.contact-text p {
  font-size: 1.1em;
  line-height: 150%;
  margin-bottom: 2em;
  text-align: center;
  color: #6d5946;
}

.contact-page a{
  color: #6d5946;
  text-decoration: none;
}

.contact-page i{
  margin-right: 1em;
}

.contact-form {
  position: relative;
  max-width: 35em;
  text-align: center;
}

.contact-page h2{
  color: #af9883;
  font-family: "Trebuchet MS";
  text-align: center;
}

/* back to top button */
#myBtn {
  /* display: none;
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: 3em;
  height:3em;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out; */
  display: none;
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 99;
  font-size: 2em;
  border: none;
  outline: none;
  background-color: #af9883;
  color: white;
  cursor: pointer;
  width:1.5em;
  height:1.5em;
  border-radius: 100%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

/* button i{
  width: 2em;
} */

#myBtn:hover {
  opacity: 0.5;
    /* background-color: #6d5946; */
}



