* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

@font-face {
  font-family: "Poppins", "Trebuchet MS"sans-serif;
}

.navbar {
  background-color: #f5f2ef;
  margin-top: -3em;
  /* padding-bottom: 0.5em; */
}

nav {
  margin: 0;
  width: 100%;
  height: 12em;
  font-family: 'Poppins';
  letter-spacing: .11em;
  font-weight: 400;
}

.logo {
  text-align: center;
  padding-bottom: 1em;
  padding-top: 3em;
}

.logo a {
  color: #6d5946;
  text-transform: uppercase;
  font-weight: 550;
  font-size: 1.5em;
  /* margin-left:0.5em; */
  text-decoration: none;
}

.logo a:hover {
  color: #af9883;
  transition: 0.3s;
}

.navbar nav ul {
  list-style-type: none;
  display: table;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.navbar nav ul li {
  /* display: list-item; */
  display: inline-block;
  list-style: none;
}

nav ul li:not(:first-child) {
  margin-left: 2.25em;
}

nav ul li:last-child {
  margin-right: 5em;
}

nav ul li a {
  display: inline-block;
  outline: none;
  color: #8c725a;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.075em;
  font-weight: 570;
  font-size:1.1em;
  position: relative;
}

nav ul li a.nav-link:before, #interactive-elements .in-text-element a:before, .home-project .caption a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125em;
  bottom: 0;
  left: 0;
  background-color: #6d5946;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

nav ul li a.nav-link:hover:before, #interactive-elements .in-text-element a:hover:before, .home-project .caption a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

@media screen and (max-width: 864px) and (min-width:600px){
  .logo {
    padding: 0;
    margin-top: .8em;
    margin-left: 3em;
    font-size: 1.4em;
    float: left;
  }

  .nav-wrapper {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #dcd2c8;
    opacity: 0;
    transition: all 0.2s ease;
    font-size: 1.8em;
  }

  nav{
    height:6em;
  }

  .nav-wrapper ul {
    position:absolute;
    top: 45%;
    transform: translateY(-50%);
    width: 100%;
  }

  .nav-wrapper ul li {
    display: none;
    width: 100%;
    list-style: none;
    float: right;
    margin-right: 2em;
    margin-top:1em;
  }

  .nav-wrapper ul li:nth-child(1) a {
    transition-delay: 0.2s;
    /* margin-right: 2em; */
    float: right;
    text-align: right;
  }

  .nav-wrapper ul li:nth-child(2) a {
    transition-delay: 0.3s;
    /* margin-right: 2em; */
    float: right;
    text-align: right;
  }

  .nav-wrapper ul li:nth-child(3) a {
    transition-delay: 0.4s;
    /* margin-right: 2em; */
    float: right;
    text-align: right;
  }

  .nav-wrapper ul li:nth-child(4) a {
    transition-delay: 0.5s;
    margin-right: -3.4em;
    float: right;
    text-align: right;
  }

  .nav-wrapper ul li a {
    padding: 0.625em 1.5em;
    opacity: 0;
    color: #8c725a;
    font-size: 0.875em;
    font-weight: 600;
    letter-spacing: 0.075em;
    transform: translateX(-1.25em);
    transition: all 0.2s ease;
  }

  .nav-btn {
    position: fixed;
    right: 1em;
    top: 2.5em;
    display: block;
    width: 5em;
    height: 5em;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }

  .nav-btn i {
    display: block;
    width: 2em;
    height: .225em;
    background: #8c725a;
    margin-left: 0.875em;
  }

  .nav-btn i:nth-child(1) {
    margin-top: 1em;
  }

  .nav-btn i:nth-child(2) {
    margin-top: 0.35em;
    opacity: 1;
  }

  .nav-btn i:nth-child(3) {
    margin-top: 0.35em;
  }

  #nav:checked+.nav-btn i:nth-child(1) {
    transform: translateY(.77em) rotate(135deg);
  }
}

@media screen and (max-width: 600px) and (min-width:400px){
  .logo {
    padding: 0;
    margin-top: .4em;
    margin-left: 3em;
    font-size: 1em;
    float: left;
  }

  .nav-wrapper {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #dcd2c8;
    opacity: 0;
    transition: all 0.2s ease;
    font-size: 1.8em;
  }

  nav{
    height:4em;
  }

  .nav-wrapper ul {
    position:absolute;
    top: 45%;
    transform: translateY(-50%);
    width: 100%;
  }

  .nav-wrapper ul li {
    display: none;
    width: 100%;
    list-style: none;
    float: right;
    margin-right: 2em;
    margin-top:1em;
  }

  .nav-wrapper ul li:nth-child(1) a {
    transition-delay: 0.2s;
    /* margin-right: 2em; */
    float: right;
    text-align: right;
  }

  .nav-wrapper ul li:nth-child(2) a {
    transition-delay: 0.3s;
    /* margin-right: 2em; */
    float: right;
    text-align: right;
  }

  .nav-wrapper ul li:nth-child(3) a {
    transition-delay: 0.4s;
    /* margin-right: 2em; */
    float: right;
    text-align: right;
  }

  .nav-wrapper ul li:nth-child(4) a {
    transition-delay: 0.5s;
    margin-right: -3.4em;
    float: right;
    text-align: right;
  }

  .nav-wrapper ul li a {
    padding: 0.625em 1.5em;
    opacity: 0;
    color: #8c725a;
    font-size: 0.875em;
    font-weight: 600;
    letter-spacing: 0.075em;
    transform: translateX(-1.25em);
    transition: all 0.2s ease;
  }

  .nav-btn {
    position: fixed;
    right: 1em;
    top: 2.5em;
    display: block;
    width: 5em;
    height: 5em;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }

  .nav-btn i {
    display: block;
    width: 1.5em;
    height: .15em;
    background: #8c725a;
    margin-left: 0.875em;
  }

  .nav-btn i:nth-child(1) {

  }

  .nav-btn i:nth-child(2) {
    margin-top: 0.35em;
    opacity: 1;
  }

  .nav-btn i:nth-child(3) {
    margin-top: 0.35em;
  }

  #nav:checked+.nav-btn i:nth-child(1) {
    transform: translateY(.55em) rotate(135deg);
  }
}

@media screen and (max-width: 400px){
  .logo {
    padding: 0;
    margin-top: .4em;
    margin-left: 3em;
    font-size: .7em;
    float: left;
  }

  .nav-wrapper {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #dcd2c8;
    opacity: 0;
    transition: all 0.2s ease;
    font-size: 1.4em;
  }

  nav{
    height:3em;
  }

  .nav-wrapper ul {
    position:absolute;
    top: 45%;
    transform: translateY(-50%);
    width: 100%;
  }

  .nav-wrapper ul li {
    display: none;
    width: 100%;
    list-style: none;
    float: right;
    margin-right: 2em;
    margin-top:1em;
  }

  .nav-wrapper ul li:nth-child(1) a {
    transition-delay: 0.2s;
    /* margin-right: 2em; */
    float: right;
    text-align: right;
  }

  .nav-wrapper ul li:nth-child(2) a {
    transition-delay: 0.3s;
    /* margin-right: 2em; */
    float: right;
    text-align: right;
  }

  .nav-wrapper ul li:nth-child(3) a {
    transition-delay: 0.4s;
    /* margin-right: 2em; */
    float: right;
    text-align: right;
  }

  .nav-wrapper ul li:nth-child(4) a {
    transition-delay: 0.5s;
    margin-right: -3.4em;
    float: right;
    text-align: right;
  }

  .nav-wrapper ul li a {
    padding: 0.625em 1.5em;
    opacity: 0;
    color: #8c725a;
    font-size: 0.875em;
    font-weight: 600;
    letter-spacing: 0.075em;
    transform: translateX(-1.25em);
    transition: all 0.2s ease;
  }

  .nav-btn {
    position: fixed;
    right: 0em;
    top: 2.1em;
    display: block;
    width: 5em;
    height: 5em;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }

  .nav-btn i {
    display: block;
    width: 1.2em;
    height: .13em;
    background: #8c725a;
    margin-left: 0.875em;
  }

  .nav-btn i:nth-child(1) {

  }

  .nav-btn i:nth-child(2) {
    margin-top: 0.25em;
    opacity: 1;
  }

  .nav-btn i:nth-child(3) {
    margin-top: 0.25em;
  }

  #nav:checked+.nav-btn i:nth-child(1) {
    transform: translateY(.43em) rotate(135deg);
  }
}

#nav:checked+.nav-bth {
  transform: rotate(45deg);
}

#nav:checked+.nav-btn i {
  background: #8c725a;
  transition: transform 0.2s ease;
}

/* #nav:checked+.nav-btn i:nth-child(1) {
  transform: translateY(.43em) rotate(135deg);
} */

#nav:checked+.nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked+.nav-btn i:nth-child(3) {
  transform: translateY(-0.375em) rotate(45deg);
}

#nav:checked~.nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked~.nav-wrapper ul li a {
  opacity: 1;
  transform: translateX(0);
}

.hidden {
  display: none;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.75em;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: Poppins;
  font-weight: 300;
}

.banner-index h1 {
  margin: 2em;
  text-align: center;
  color: #6d5946;
  font-family: "Trebuchet MS";
  letter-spacing: 0.25em;
  font-weight: 600;
  margin-bottom: 3em;
}

#interactive-elements, #text-elements, #combined-elements, #components, #citations {
  margin-top: 5em;
  margin-bottom: 5em;
  margin-left: 2em;
  margin-right: 2em;
}

#interactive-elements h2, #text-elements .title h2, #combined-elements h2, #components h2, #citations h2 {
  color: #8c725a;
  font-family: "Trebuchet MS";
  text-align: center;
  margin-top: 5em;
  margin-bottom: 2em;
}

.in-text-element, .button-element, .input-element, .radio-element,
.image-element, .heading-element, .paragraph-element, .number-element,
.nav-element, .interest-element, .project-element, .bio-element,
.font-element, .color-element, .imagery-element {
  margin-bottom: 5em;
}

#interactive-elements h3, #text-elements .title h3, #combined-elements h3, #components h3 {
  color: #af9883;
  letter-spacing: 0.1em;
}

#interactive-elements .number, #text-elements .number, #combined-elements .number, #components .number {
  color: #cdbfb1;
}

#interactive-elements h4, #text-elements .title h4 {
  color: #6d5946;
  letter-spacing: 0.09em;
}

#interactive-elements p, #text-elements p, #combined-elements p, .font-element p {
  color: #6d5946;
}

#interactive-elements code, #text-elements code {
  color: #6d5946;
  background-color: #f5f2ef;
  padding: 1em;
  display: block;
}

#interactive-elements .css-code p, #text-elements .css-code p {
  color: #af9883;
}

#interactive-elements .in-text-element a{
  display: inline-block;
  outline: none;
  color: #af9883;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.875em;
  letter-spacing: 0.075em;
  font-weight: 600;
  position: absolute;
}

.home-project .caption a{
  display: inline-block;
  outline: none;
  color: #af9883;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.875em;
  letter-spacing: 0.075em;
  font-weight: 600;
  position: absolute;
}

.button, .button1 {
  margin: 0;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  position: relative;
  left: 0;
  transition: 0.5s;
  color: #8c725a;
  text-decoration: none;
  border: 0.1875em solid #af9883;
}

.button {
  padding: 1rem 2rem;
}

.button1 {
  padding: 1rem 1rem;
}

.button:hover, .button1:hover {
  background-color: #af9883;
  height: 1em;
  width: 0.5em;
  transition: 0.5s;
  color: white;
}

.button:focus, .button1:focus {
  opacity: 0.5;
}

input[type=search], textarea{
  width: 18em;
  transition: width .35s ease-in-out;
  border: 0.125em solid #af9883;
  border-radius: 1.875em;
  font-size: 0.9375em;
  color: #6d5946;
  font-weight: 400;
  padding-left: 0.9375em;
  padding-right: 1.25em;
  font-family: "Poppins";
  outline: none;
}

input[type=search]{
  height: 2em;
}

textarea{
  height: 10em;
  /* width: 18em; */
}

input[type=search]:hover, textarea:hover {
  background-color: #f5f2ef;
}

input[type=search]:focus, textarea:focus {
  background-color: #f5f2ef;
}

.radio {
  display: block;
  position: sticky;
  padding-left: 1.5625em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  cursor: pointer;
  user-select: none;
  color: #6d5946;
}

.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0.1875em;
  height: 0.9375em;
  width: 0.9375em;
  background-color: #dcd2c8;
  border-radius: 50%;
}

.radio:hover input~.checkmark {
  background-color: #8c725a;
}

.radio input:checked~.checkmark {
  background-color: #6d5946;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio input:checked~.checkmark:after {
  display: block;
}

.radio .checkmark:after {
  top: 0.3125em;
  left: 0.3125em;
  width: 0.3125em;
  height: 0.3125em;
  border-radius: 50%;
  background: white;
}

.image-element img {
  max-width: 40em;
  width: 100%;
}

.image-element img:hover {
  opacity: 0.5;
  transition: 0.5s;
  cursor: pointer;
}

.heading-element .heading, .paragraph-element p, .number-element li {
  color: #6d5946;
}

.navbar2 nav ul li {
  display: inline-block;
  float: left;
}

.first-font {
  margin-bottom: 3em;
}

.first-font h4 {
  font-family: "Poppins";
  text-transform: uppercase;
  color: #6d5946;
  letter-spacing: 0.09em;
}

.first-font .title, .second-font .title {
  color: #af9883;
  text-transform: lowercase;
}

.first-font p {
  font-family: "Poppins";
}

.second-font h4 {
  font-family: "Trebuchet MS";
  text-transform: uppercase;
  color: #6d5946;
  letter-spacing: 0.09em;
}

.second-font p {
  font-family: "Trebuchet MS";
}

.color-flex{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5em;
}

.color-flex .palette1, .color-flex .palette2, .color-flex .palette3, .color-flex .palette4, .color-flex .palette5, .color-flex .palette6{
  position: relative;
  max-width: 32.5em;
}

.color-flex p{
  margin-top: -1em;
}

.palette1 .circle {
  height: 8em;
  width: 8em;
  background-color: #f5f2ef;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.palette2 .circle {
  height: 8em;
  width: 8em;
  background-color: #dcd2c8;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.palette1 h4, .palette2 h4, .palette3 h4, .palette4 h4 {
  color: #6d5946;
  text-align: center;
  margin-top: -6em;
}

.palette1 p, .palette2 p, .palette3 p ,.palette4 p  {
  color: #6d5946;
  text-align: center;
  margin-bottom: 5em;
}


.palette3 .circle {
  height: 8em;
  width: 8em;
  background-color: #cdbfb1;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.palette4 .circle {
  height: 8em;
  width: 8em;
  background-color: #af9883;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.palette5 h4, .palette6 h4 {
  margin-top: -6em;
  color: #f5f2ef;
  text-align: center;
}

.palette5 p, .palette6 p {
  color: #f5f2ef;
  text-align: center;
  margin-bottom: 5em;
}

.palette5 .circle {
  height: 8em;
  width: 8em;
  background-color: #8c725a;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.palette6 .circle {
  height: 8em;
  width: 8em;
  background-color: #6d5946;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.interest-element ul {
  letter-spacing: 0.1em;
  text-align: center;
  color: #6d5946;
}

.interest-element ul li {
  display: inline-block;
  margin-top: 1em;
  margin-right: 1em;
}

#citations a, #citations p {
  color: #6d5946;
}

#citations a:hover{
  background-color: #dcd2c8;
  transition: 0.3s;
}

.project-element img {
  width: 60%;
  margin-left: 20%;
}

.project-element p {
  text-align: center;
}

/* footer */
.footer {
  background-color: #f5f2ef;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0;
  width: 100%;
}

.footer h1{
  text-align: center;
  color: #6d5946;
  font-family: "san-serif";
}

.footer .single-footer p {
  color: #6d5946;
  text-align: center;
  font-size: 1em;
}

.footer a {
  text-decoration: none;
  color: #6d5946;
  text-align: center;
  font-size: 1em;
}

.footer ul {
  text-align: center;
  color: #6d5946;
}

.footer ul li {
  display: inline-block;
  margin-right: 1em;
}

.footer ul li a:hover, .contact-page a:hover {
  color: #af9883;
  transition: 0.3s;
  cursor: pointer;
}

.bottom-footer p {
  text-align: center;
  color: #af9883;
  font-size: 0.8em;
}

.footer-social i {
  font-size: 1.2em;
}

.single-footer i{
  margin-right: 0.5em;
}

/* warning */
.heading-w {
  font-size: 0.1em;
  color: #fff;
}

/* bio page */
.bio-page {
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 5em;
  color: #6d5946;
  margin-top: 8em;
}

.bio-flex {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.bio-image {
  position: relative;
  max-width: 40em;
}

.bio-image img {
  max-width: 100%;
  width: 100%;
  height:auto;
}

.bio-text {
  position: relative;
  max-width: 40em;
}

@media screen and (min-width: 1440px){
  .bio-text{
    margin-top :-3em;
  }
}

.bio-text .title h3 {
  margin-top: 2em;
}

.bio-text ul {
  margin-bottom: 3em;
  margin-right: -5em;
}

.bio-text ul li {
  display: block;
  margin-top: 0.8em;
  margin-left: -2.5em;
}

.bio-text i {
  margin-right: 1em;
}

/* project 1, 2, 3, 4, 5 page */
.p1-info, .p2-info, .p3-info, .p4-info, .p5-info, .p6-info, .p7-info {
  color: #6d5946;
  font-family: "Trebuchet MS";
  margin-bottom: 5em;
  margin-top: 5em;
  text-align: center;
}

.p1-info h3 .number, .p2-info h3 .number, .p3-info h3 .number, .p4-info h3 .number, .p5-info h3 .number, .p6-info h3 .number, .p7-info h3 .number{
  color: #cdbfb1;
}

.p1-info h3, .p2-info h3, .p3-info h3, .p4-info h3, .p5-info h3, .p6-info h3, .p7-info h3 {
  color: #8c725a;

}
.p1-info p, .p2-info p, .p3-info p, .p4-info p, .p5-info p, .p6-info p, .p7-info p {
  color: #af9883;
  font-family: "Poppins";
  text-align: center;
}

.p1-text p, .p2-text p, .p3-text p, .p4-text p, .p5-text p, .p6-text p, .p7-text p {
  font-size: 1.1em;
  line-height: 150%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 60%;
}

.p1-image img, .p2-image img, .p3-image img, .p4-image img, .p5-image img, .p6-image img, .p7-image img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.p1-image p, .p1-image2 p, .p2-image p, .p3-image p, .p4-image p, .p5-image p, .p6-image2 p, .p6-image3 p, .p6-image4 p, .p6-image5 p, .p7-image2 p, .p7-image3 p{
  text-align: center;
  margin-bottom:3em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 60%;
}

.p1-image2 img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 80%;
}

.p5-image1 img, .p5-image3 img, .p5-image4 img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 50%;
}

.p5-image2 img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 30%;
}

.p5-image5 img, .p5-image6 img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 60%;
}

.p6-image1{
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 60%;
}

.p6-image2 img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width:60%;
}

.p6-image3 img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 60%;
}

.p6-image4 img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 60%;
}

.p6-image5 img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 60%;
}

.p7-image2 img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width:60%;
}

.p7-image3 img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width:60%;
}

.p2-flex3 img{
  max-height: 50em;
}

.p1-info img{
  max-width: 50%;
}

.p2-info img{
  max-height: 40em;
}

.p4-info img{
  max-height: 40em;
}

.p3-flex2 img{
  max-height:40em;
}

.p3-flex2, .p2-flex3, .p4-flex2, .p5-flex {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* margin-bottom: 5em; */
  font-family: "Poppins";
}

/* flipped book */
.p5-flex9, .p4-flex9{
  justify-content: center;
  align-items: center;
  display: flex;
  box-sizing: border-box;
}

.paper img{
  height: 438px;
  width: 350px;
}

.book{
  position: relative;
  height: 440px;
  width: 350px;
  transition: transform 0.5s;
}

.paper{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  perspective: 1500px;
}

.front, .back{
  /* border: 0.3em solid #cdbfb1; */
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s;
}

.front{
  z-index: 1;
  backface-visibility: hidden;
  border-left: 3px solid #cdbfb1;
}

.back{
  z-index: 0;
}

.front-content, .back-content{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-content{
  transform: rotateY(180deg);
}

/* paper flipped effect */
.flipped .front, .flipped .back{
  transform: rotateY(-180deg);
}

/* controller buttons */
.p5-flex9 button, .p4-flex9 button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  transition: transform 0.5s;
  color: #8c725a;
}

.p5-flex9 button:focus, .p4-flex9 button:focus{
  outline: none;
}

.p5-flex9 button:hover, .p4-flex9 button:hover{
  color: #f5f2ef;
}

.p5-flex9 i, .p4-flex9 i{
  font-size: 2em;
}
/* paper stack order */
.p5-flex9 #p1{
  z-index: 6;
}

.p5-flex9 #p2, .p4-flex9 #p1{
  z-index: 5;
}

.p5-flex9 #p3, .p4-flex9 #p2{
  z-index: 4;
}

.p5-flex9 #p4, .p4-flex9 #p3{
  z-index: 3;
}

.p5-flex9 #p5, .p4-flex9 #p4{
  z-index: 2;
}

.p5-flex9 #p6, .p4-flex9 #p5{
  z-index: 1;
}

/* home page */
.home-page {
  color: #6d5946;
  font-family: "Poppins";
  text-align: center;
}

#project{
    margin-top: 7em;
    margin-bottom: 7em;
    margin-left: 3em;
    margin-right: 3em;
}

@media screen and (max-width: 340px){
  .home-project h2{
    font-size: 1.3em;
  }
}

.home-page h3, #project h3{
  color: #8c725a;
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
}

.home-page h3 .number, #project h3 .number  {
  color: #cdbfb1;
}

.home-page .title, #project .title {
  font-size: 2em;
}

#project p, #art p{
  color: #6d5946;
  font-size: 1.2em;
  font-weight:500;
  letter-spacing: .05em;
  text-transform: uppercase;
  margin-top:1em;
}

/* .home-flex1{
  margin-bottom: 5em;
  font-family: "Poppins";
  letter-spacing: .05em;
} */

.home-flex{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* margin-bottom: 5em; */
  font-family: "Poppins";
  margin: 10%;
}

/* .home-flex1 .home-text {
  position: relative;
  max-width: 70em;
} */

#project .home-flex .home-project{
  position: relative;
  width: 30em;
}

.home-project img {
  max-width: 100%;
  margin-top: -.4em;
}

.home-project .text{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay {
  position: absolute;
  top: -.4em;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #fff;
}

.home-project:hover .overlay{
  opacity: 0.9;
  transition: 0.5s;
  cursor: pointer;
}

/* contact page */
@media screen and (min-width: 550px){
  input[type=search], textarea{
    width: 25em;
  }
}

@media screen and (max-width: 959px){
  .contact-flex .contact-text{
    margin-bottom: 5em;
  }
}

.contact-page{
  color: #6d5946;
  margin-top: 5em;
  margin-bottom: 5em;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 5em;
}

.contact-flex{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5em;
}

.contact-flex .contact-text{
  position: relative;
  max-width: 30em;
}

.contact-text p {
  font-size: 1.1em;
  line-height: 150%;
  margin-bottom: 2em;
  text-align: center;
  color: #6d5946;
}

.contact-page a{
  color: #6d5946;
  text-decoration: none;
}

.contact-page i{
  margin-right: 1em;
}

.contact-form {
  position: relative;
  max-width: 35em;
  text-align: center;
}

.contact-page h2{
  color: #af9883;
  font-family: "Trebuchet MS";
  text-align: center;
}

/* back to top button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

#myBtn:hover {
  opacity: 0.5;
}

/* art page */
#art .home-flex {
    margin-top: 7em;
    /* margin-bottom: 7em; */
}

#art .home-flex .home-project{
  position: relative;
  /* margin-top: 5em; */
  /* margin-bottom: 5em; */
  max-width: 30em;
  margin-top: -.1em;
}

.art-title {
  /* color: #8c725a; */
  font-family: "Trebuchet MS";
  margin-top: 5em;
  text-align: center;
  color: #6d5946;
}
